# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Database
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store

# Sensitive files
static/resume.pdf
static/image.png
app/repositories/resume_repository.py

